/* Banner
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.banner {
    height: 75px;
    background-color: #dcdddf;
    padding: 0px;
    margin: auto;
}

.banner h1 {
    color: black;
    display: inline-block;
    margin-left: 30%;
    font-family: "Palatino Linotype", Garamond, "Century Schoolbook", serif;
    font-size: 30px;
}

.banner img {
    position: relative;
    float: right;
    height: 55px;
    margin-top: 10px;
    margin-right: 2%;
}